.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.navbar a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background: #e8491d;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
}